* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.bg-pattern-bottom {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.bg-pattern-top {
    position: fixed;
    bottom: 40%;
    right: 50%;
    z-index: -1;
}

.container {
    height: 370px;
    width: 350px;
    background-color: transparent;
    perspective: 1000px;
}

.top {
    border-radius: 20px 20px 0 0;
    width: 350px;
}

.victor {
    position: relative;
    display: block;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    bottom: 16%
}

.name-loc {
    position: relative;
    bottom: 10%;
}

.stats {
    display: flex;
    position: relative;
    justify-content: center;
    top: 1rem;
}

.stats div {
    text-align: center;
    width: 6rem;
}

.name {
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

span {
    color:hsl(227, 10%, 46%);
    font-weight: 400;
    padding: 5px;
}

.flip-card-front .city {
    color:hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
}

.flip-card-front .text {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: hsl(0, 0%, 59%);
    padding: 5px;
}

hr {
    height: 0.5px;
    border: none;
    background-color: hsl(0, 0%, 59%);
}

.flip-card-front p {

    position: relative;
    text-align: center;
    font-size: 18px;
    bottom: 20%;
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

hr {
    position: relative;
    color: hsl(227, 10%, 46%);
    bottom: 4%
}

/* =============
    Flip Card   
   =============*/
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
}
  
.container:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
}

.flip-card-front {
    background-color: white;
    height: 370px;
    width: 350px;
}

.flip-card-back {
    text-align: center;
    background-color: rgb(16,16,16);
    transform: rotateY(180deg);
    color: white;

}

.flip-card-back h1 {
    margin-top: 20%;
    margin-bottom: 15%;
}

.flip-card-back p {
    margin-top: 3em;
}

a:link {
    color: hotpink;
    text-decoration: none;
}

a:visited {
    color: hotpink;
    text-decoration: none;
  }

a:hover {
    color: hotpink;
    text-decoration: underline;
}
a:active {
    color: hotpink;
    text-decoration: none;
}